@font-face {
  font-family: 'clock-input';
  src: url("../assets/fonts/alarm_clock/alarm_clock.ttf"); }

@font-face {
  font-family: 'clock-img';
  src: url("../assets/fonts/digital-7.ttf"); }

body {
  background: #636a72;
  font-family: 'clock-img';
  overflow-x: hidden; }

.no-scroll {
  overflow: hidden; }

h1 {
  font-size: 60px;
  line-height: 60px;
  font-family: 'Roboto', sans-serif;
  color: #f7f7f7; }

.img-404 {
  margin-top: 100px;
  box-shadow: 0 0 50px 50px white; }

.clock {
  box-sizing: border-box;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  border: solid 5px #e6e6e6;
  background: #f7f7f7;
  color: #292D38;
  position: relative; }
  .clock .date {
    text-align: center;
    font-size: 30px;
    line-height: 30px; }
  .clock .input-wrapper {
    min-width: 500px;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif; }
    .clock .input-wrapper .clock__filter {
      font-size: 25px;
      height: 40px;
      padding: 10px 0;
      vertical-align: baseline;
      margin-right: 10px; }
    .clock .input-wrapper i {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      padding: 10px 20px 10px 10px;
      font-size: 25px;
      line-height: 30px;
      cursor: pointer; }
    .clock .input-wrapper input {
      padding: 10px 0; }
  .clock .cursor {
    animation: pulse 1s ease 0s infinite; }

@keyframes pulse {
  0%,
  49% {
    opacity: 1; }
  50%,
  100% {
    opacity: 0; } }

.input {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  border: none;
  background: #f7f7f7; }

.clock--fixed {
  position: fixed;
  top: 30px;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, 0); }

.wrap {
  width: 1200px;
  margin: 130px auto 400px auto;
  z-index: 1; }

.header-bg {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  font-family: 'Kaushan Script', cursive;
  color: #6f7f9e;
  transition: font-size 1s ease 0s, transform 0.2s ease 0s; }
  .header-bg .sub {
    text-align: center;
    font-size: 50px; }

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.grid {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(auto, auto);
  grid-gap: 4px;
  justify-items: stretch;
  align-items: stretch; }

.item {
  display: grid;
  grid-auto-columns: 1;
  grid-auto-rows: 1;
  border-radius: 2px; }
  .item img {
    position: relative;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    grid-column: 1/-1;
    grid-row: 1/-1;
    z-index: 10;
    transition: opacity 0.1s linear 0s; }

.gallery {
  opacity: 0;
  animation: opacity 0.5s ease 1.4s forwards; }

@keyframes opacity {
  to {
    opacity: 1; } }

.item:hover img {
  opacity: 0; }

.item__overlay {
  position: relative;
  grid-column: 1/-1;
  grid-row: 1/-1;
  object-fit: cover;
  z-index: 9;
  cursor: pointer; }

.img-time {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  grid-column: 1/-1;
  grid-row: 1/-1;
  position: relative;
  font-family: 'clock-img'; }
  .img-time span {
    line-height: 80px;
    font-size: 200%; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  transform: translate(100%, 0);
  transition: transform 0.3s ease 0s; }

.modal__bg {
  z-index: -50;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #aaaaaae1; }

.modal--active {
  transform: translate(0, 0); }

.modal__img {
  z-index: 100;
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  max-height: 80vh;
  max-width: 70vw; }

.modal__img--active {
  animation: scaleImg 0.2s ease 0.2s forwards; }

@keyframes scaleImg {
  to {
    transform: translate(-50%, -50%) scale(1); } }

.modal__info {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  z-index: 100;
  height: 50px;
  text-align: center;
  font-size: 30px; }
  .modal__info i {
    margin: 0px 80px 5px;
    line-height: 50px;
    cursor: pointer;
    color: #242424; }
  .modal__info div {
    color: #242424;
    line-height: 30px; }
  .modal__info a:link, .modal__info a:visited, .modal__info a:active {
    color: #242424; }

.pages {
  background: #0B0A07;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 2.5s ease 1s, visibility 0s linear 5s; }

.pages--invisible {
  opacity: 0;
  visibility: hidden; }

.pages__list {
  list-style: none; }

.pages__element {
  margin-top: 50px;
  margin-left: 0;
  transition: height 0.5s ease 0.5s, margin-top 0.5s ease 0.5s, visibility 0s linear 0.5s; }
  .pages__element h1 {
    padding: 20px;
    height: 100%;
    cursor: pointer;
    transition: opacity 0.5s ease 0s; }

.pages__element--active h1 {
  height: 200px; }

.page__invisible {
  height: 0px;
  margin-top: 0;
  visibility: hidden; }
  .page__invisible h1 {
    opacity: 0; }

.password {
  background: #0B0A07;
  height: 100vh;
  width: 100%;
  margin: auto auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .password h1 {
    margin-bottom: 50px; }
  .password input {
    width: 350px;
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 15px; }
  .password .input-wrong {
    animation: margin 0.2s ease 0s forwards; }

@keyframes margin {
  25% {
    margin-left: -75px; }
  50% {
    margin-left: 50px; }
  75% {
    margin-left: -25px; }
  100% {
    margin-left: 0px; } }
  .password button {
    width: 200px;
    height: 40px;
    border-radius: 3px;
    background: #f7f7f7; }

@media (max-width: 1100px) {
  .input-wrapper {
    min-width: 700px !important; }
  .wrap {
    width: 95%; }
  .grid {
    grid-template-columns: repeat(4, 1fr); }
  .modal__info {
    bottom: 180px;
    height: 190px;
    font-size: 50px; }
    .modal__info i {
      margin: 30px 80px 5px;
      line-height: 60px; }
    .modal__info div {
      line-height: 60px; }
  .modal__img {
    top: 40%;
    max-height: 80vh;
    max-width: 90vw; }
  .password h1 {
    font-size: 130px !important; }
  .password input {
    margin-top: 150px;
    width: 95vw;
    height: 100px;
    font-size: 40px !important; }
  .password button {
    margin-top: 25px;
    width: 50vw;
    height: 100px;
    font-size: 40px;
    font-weight: bold;
    background: #f7f7f7; } }
